body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.link_logo {
  display: inline-block;
}

.bck_red {
  background: #ad0008;
}

.bck_lred {
  background: #ffd8da;
}

.img_cover {
  background-size: cover !important;
}
.container {
  width:1024px;
  margin: 0 auto;
}

input {
  background: #fafafa;
  border: 1px solid #e9e9e9;
  font-size: 17px;
  padding: 8px;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
}

select {
  font-size: 16px;
  height: 38px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 100%;
}

button {
  background: #0d1831;
  color: #ffffff;
  border: 1px solid #0d1831;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 3px;
}

.error_label {
  color: #F44336;
  font-weight: 600;
  margin: 10px 0px;
}

.success_label {
  color: #98c5e9;
  font-weight: 600;
  margin: 10px 0px;
}

.label_inputs {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 300;
  background: #e5f4ff;
  padding: 10px;
  display: inline-block;
}

.split-fields {
  margin: 30px 0px;
  padding: 20px 0px;
  border-top: 2px solid #dddddd;
}

.split-fields.last {
  margin-bottom: 0;
  padding-bottom: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cecece;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cecece;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cecece;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cecece;
  text-align: center;
}


/* HEADER & FOOTER STYLES */
footer {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 0px;
}

footer .img_cover{
  margin:0 auto;
}

footer .footer_discl {
   margin: 10px 0px;
}


/* FEATURED COMPONENTS STYLING */
.featured-wrapper {
  margin: 0 auto;
  width: 1280px;
  margin-top: 90px;
  height: 800px;
  overflow: hidden;
}

.featured_stripes {
  position: relative;
}

.featured_text {
  position: relative;
  font-family: 'Righteous', cursive;
}

.featured_stripes .stripe {
  width: 230px;
  height: 1200px;
  position: absolute;
}

.featured_number {
  font-size: 270px;
  color: #ffffff;
  transform: translate(260px,170px);
  position: absolute;
}

.featured_player {
  width: 500px;
  height: 500px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
}

.featured_first {
  position: absolute;
  background: #cc0e1a;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
}

.featured_second {
  position: absolute;
  background: #cc0e1a;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
}